@import 'tailwindcss';

.main-layout {
    background-color: #ededed;
    color: #000000;
}

.main-layout-dark {
    background-color: #6b6b6b;
    color: #000000;
}

.dark {
    background-color: #1a202c; /* Dark background */
    color: #e2e8f0; /* Light text */
}
